<div class="displayTable">
  <div class="displayTableCell">

    <div class="authBlock">
      <h3>Sign Up</h3>

      <div class="formGroup">
        <input type="nick" class="formControl" placeholder="Nickname" #userNick required>
      </div>
      
      <div class="formGroup">
        <input type="email" class="formControl" placeholder="Email Address" #userEmail required>
      </div>

      <div class="formGroup">
        <input type="password" class="formControl" placeholder="Password" #userPwd required>
      </div>

      <div class="formGroup">
        <input type="button" class="btn btnPrimary" value="Sign Up" (click)="authService.SignUp(userEmail.value, userPwd.value, userNick.value)">
      </div>

  </div>
  <div class="redirectToLogin">
    <span>Already have an account? <span class="redirect" routerLink="/sign-in">Log In</span></span>
  </div>
</div>