<!-- Top navigation -->
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0">
      <span class="dasboard-text">Red Right Runner</span>
    </a>
  </nav>
  
  <!-- Sidebar navigation -->
  <div class="container-fluid">
    <div class="row">
  
      <nav class="col-md-2 d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
  
            <li class="nav-item">
              <a class="nav-link" routerLink="/dashboard">
                <i class="fas fa-user"></i>User Profile
              </a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link active" routerLink="/my-stats">
                <i class="fas fa-user-circle"></i>My Stats
              </a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" routerLink="/leaderboard">
                <i class="fas fa-star"></i>Leaderboard
              </a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" (click)="authService.SignOut()">
                <i class="fas fa-sign-out-alt"></i>Log out
              </a>
            </li>
          </ul>
        </div>
      </nav>
  
      <!-- Main content -->
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="inner-adjust">
  
          <div class="pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">My Best Stats</h1>
          </div>
          <!-- Show user data when logged in -->

          <div class="row" *ngFor="let user of bestArray; let i=index">
            <div class="col-md-12">
              <div class="media">
                <div class="media-body">
                  <p>{{bestNames[i][0]}} <strong>{{user}} </strong>{{bestNames[i][1]}}</p>
                  </div>
              </div>
            </div>
          </div>
          <div class="pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">My General Stats</h1>
          </div>
          <div class="row" *ngFor="let user of generalArray; let i=index" >
            <div class="col-md-12">
              <div class="media">
                <div class="media-body">          
                  <p>{{generalNames[i][0]}} <strong>{{user}} </strong>{{generalNames[i][1]}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
  
    </div>
  </div>