<!-- Top navigation -->
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0">
      <span class="dasboard-text">Red Right Runner</span>
    </a>
  </nav>
  
  <!-- Sidebar navigation -->
  <div class="container-fluid">
    <div class="row">
  
      <nav class="col-md-2 d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
  
            <li class="nav-item">
              <a class="nav-link" routerLink="/dashboard">
                <i class="fas fa-user"></i>User Profile
              </a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" routerLink="/my-stats">
                <i class="fas fa-user-circle"></i>My Stats
              </a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link active" routerLink="/leaderboard">
                <i class="fas fa-star"></i>Leaderboard
              </a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" (click)="authService.SignOut()">
                <i class="fas fa-sign-out-alt"></i>Log out
              </a>
            </li>
          </ul>
        </div>
      </nav>
  
      <!-- Main content -->
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="inner-adjust">
  
          <div class="pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Leaderboard</h1>
          </div>
          <!-- Show user data when logged in -->
          <div class="row" *ngIf="authService.userData as user">
            <div class="col-md-12">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nick</th>
                    <th scope="col">Score</th>
                  </tr>
                </thead>
                <tbody>
                  <tr  *ngFor="let user of leaderboard; let i=index" [routerLink]="['/user-details',user.id]">
                    <th scope="row">{{i+1}}</th>
                    <td>{{user.nick}}</td>
                    <td>{{user.score.score}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
  
        </div>
      </main>
  
    </div>
  </div>